#!/bin/bash

# Lock the config server
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -lockserver'

runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/mta/mtaQueueMode"="queueservice""'
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/mta/queueNames"="DeferredQueue=mta_deferred,ErrorQueue=mta_error,SidelineQueue=mta_sideline,NdnQueue=mta_ndn""'

# Unlock the config server
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -unlockserver'