# /usr/lib/systemd/system/cassblob.service

[Unit]
Description=Cassandra Blob
After=network.target

[Service]
PIDFile=/var/run/cassandra-blob/cassandra.pid
User={{cass_user[0].username}}
Group={{cass_user[0].username}}
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/cassandra-blob/
ExecStartPre=/bin/chown -R {{cass_user[0].username}}:{{cass_user[0].username}} /var/run/cassandra-blob/
ExecStart={{cass_user[0].home}}/cassandra-blob/cassandra/bin/cassandra -Dcassandra.metricsReporterConfigFile=metrics-reporter-config.yaml -f -p /var/run/cassandra-blob/cassandra.pid
StandardOutput=journal
StandardError=journal
LimitNOFILE=100000
LimitMEMLOCK=infinity
LimitNPROC=32768
LimitAS=infinity
Restart=always
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
