#! /bin/bash

# Lock the config server
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -lockserver'

# Configuration keys for queue-admin

{% for site in sites %}{% 
	if groups[site+'-qservicecass'] is defined %}

# site={{ site }}
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/qadminservice/qsBlobKeyspaceName"="blobstore""'
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/qadminservice/qsBlobReadConsistencyLevel"="{{queue_admin_cassblob_read_consistency}}""'
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/qadminservice/qsBlobWriteConsistencyLevel"="{{queue_admin_cassblob_write_consistency}}""'
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/qadminservice/qsMetaKeyspaceName"="queueservice""'
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/qadminservice/qsMetaReadConsistencyLevel"="{{queue_admin_cassmeta_read_consistency}}""'
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/qadminservice/qsMetaWriteConsistencyLevel"="{{queue_admin_cassmeta_write_consistency}}""'
{%		for i in groups[site+'-qservicecass'] %}{%
			if loop.last %}
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/qadminservice/qsBlobEndpoints"="{{ groups[site+'-qservicecass'] | join (':' + ( cassandra_blob_native_transport_port | string ) + '\\\\n' ) }}:{{ cassandra_blob_native_transport_port }}""'
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/{{ site }}/qadminservice/qsMetaEndpoints"="{{ groups[site+'-qservicecass'] | join (':' + ( cassandra_meta_native_transport_port | string ) + '\\\\n' ) }}:{{ cassandra_meta_native_transport_port }}""'
{%			endif %}{%
		endfor %}{%
	endif %}{%
endfor %}

# Unlock the config server
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -unlockserver'
