#! /bin/bash
# Set the eureka.enabled key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{node_site}}-pab_cluster/pabd/eureka.enabled"="true"'

# Set the eureka.serviceUrl.pab_cluster key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{node_site}}-pab_cluster/pabd/eureka.serviceUrl.pab_cluster"="{{eureka_url}}"'

# Set the eureka.{{node_site}}.availabilityZones key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{node_site}}-pab_cluster/pabd/eureka.{{node_site}}.availabilityZones"="pab_cluster"'

# Set the StoragePlugin.ClusterPort key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{node_site}}-pab_cluster/pabd/StoragePlugin.ClusterPort"="9042"'

# Set the Settings.DiscoveryVipAddress key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{node_site}}-pab_cluster/pabd/Settings.DiscoveryVipAddress"="ADDRBOOK"'
