#! /bin/bash
# Set the eureka.enabled key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{node_site}}/mxos/eureka.enabled"="true"'

# Set the eureka.name key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{node_site}}/mxos/eureka.name"="MAILBOXSERVICE"'

# Set the eureka.port key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{node_site}}/mxos/eureka.port"="{{mos_listening_port}}"'

# Set the eureka.instanceId key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{ inventory_hostname }}/mxos/eureka.instanceId"="MAILBOXSERVICE:{{ inventory_hostname }}:{{mos_listening_port}}"'

# Set the eureka.region key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{node_site}}/mxos/eureka.region"="{{node_site}}"'

# Set the eureka.{{node_site}}.availabilityZones key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{node_site}}/mxos/eureka.{{node_site}}.availabilityZones"="cluster1"'

# Set the eureka.serviceUrl.cluster1 key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{node_site}}/mxos/eureka.serviceUrl.cluster1"="{{eureka_url}}"'
