# {{ ansible_managed }}

define hostgroup {
  hostgroup_name smtpinservers 
  alias Inbound SMTP Servers
}
{% if groups['smtpin'] is defined %}
{% for host in groups['smtpin'] %}

define host {
  use                     linux-server
  host_name               {{ host }}
  alias                   {{ host }}
  address                 {{ hostvars[host].ansible_ssh_host }}
  hostgroups              smtpinservers 
}
{% endfor %}

define service {
  use                     local-service
  hostgroup_name          smtpinservers
  service_description     Mx immgrserv version
  check_command           get_mx_version!5003!!!!!!!
}

define service {
  use                     local-service
  hostgroup_name          smtpinservers
  service_description     Mx imextserv version
  check_command           get_mx_version!5015!!!!!!!
}

define service {
  use                     local-service
  hostgroup_name          smtpinservers
  service_description     Mx mta version
  check_command           get_mx_version!5018!!!!!!!
}

define service {
  use                     local-service
  hostgroup_name          smtpinservers
  service_description     SMTP Access
  check_command           check_smtp!!!!!!!!
}
{% endif %}
