#! /bin/bash
# Set the eureka.enabled key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{node_site}}-cal_cluster/capd/eureka.enabled"="true"'

# Set the eureka.serviceUrl.cal_cluster key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{node_site}}-cal_cluster/capd/eureka.serviceUrl.cal_cluster"="{{eureka_url}}"'

# Set the eureka.{{node_site}}.availabilityZones key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{node_site}}-cal_cluster/capd/eureka.{{node_site}}.availabilityZones"="cal_cluster"'

# Set the StoragePlugin.ClusterPort key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{node_site}}-cal_cluster/capd/StoragePlugin.ClusterPort"="9042"'

# Set the Settings.DiscoveryVipAddress key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{node_site}}-cal_cluster/capd/Settings.DiscoveryVipAddress"="CALENDAR"'

