#!/bin/bash

# Lock the config server
runuser -l {{emailmx_user[0].username}} -c 'imconfcontrol -lockserver'

## Mailbox Aging Configuration
runuser -l {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/imboxmaint/mailboxAging"="{{mailbox_aging_enabled}}""'
runuser -l {{emailmx_user[0].username}} -c 'imconfcontrol -install -nobroadcast -key ""/*/imboxmaint/mailboxAgingMaxAgeDays"="{{mailbox_aging_max_age_days}}""'

# Unlock the config server
runuser -l {{emailmx_user[0].username}} -c 'imconfcontrol -unlockserver'
