# {{ ansible_managed }}
{% if haproxy_global is defined %}
global
{% if haproxy_global.chroot is defined and haproxy_global.chroot != false %}
    chroot {{ haproxy_global.chroot }}
{% endif -%}
{% if haproxy_global.pidfile is defined %}
    pidfile {{ haproxy_global.pidfile }}
{% endif -%}
{% if haproxy_global.maxconn is defined %}
    maxconn {{ haproxy_global.maxconn }}
{% endif -%}
{% if haproxy_global.uid is defined %}
    uid {{ haproxy_global.uid }}
{% elif haproxy_global.user is defined %}
    user {{ haproxy_global.user }}
{% endif -%}
{% if haproxy_global.gid is defined %}
    gid {{ haproxy_global.gid }}
{% elif haproxy_global.group is defined %}
    group {{ haproxy_global.group }}
{% endif -%}
{% if haproxy_global.daemon is defined and haproxy_global.daemon == true %}
    daemon
{% endif -%}
{% if haproxy_global.nbproc is defined %}
    nbproc {{ haproxy_global.nbproc }}
{% endif -%}
{% if haproxy_global.spread_checks is defined %}
    spread-checks {{ haproxy_global.spread_checks }}
{% endif -%}
{% if haproxy_global.stats is defined %}
{% if haproxy_global.stats.socket is defined %}
    stats socket {{ haproxy_global.stats.socket }}
{% endif -%}
{% if haproxy_global.stats.timeout is defined %}
    stats timeout {{ haproxy_global.stats.timeout }}
{% endif -%}
{% endif %}
{% if haproxy_global.log is defined %}
{% for log in haproxy_global.log %}
    log {{ log.address }} {{ log.facility }}{% if log.level is defined %} {{log.level }}{% endif %}{% if log.minlevel is defined %} {{ log.minlevel }}{% endif %}

{% if log.format is defined %}
    log-format {{ log.format }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}

{% if haproxy_defaults is defined %}
defaults
{% if haproxy_defaults.mode is defined %}
    mode {{ haproxy_defaults.mode }}
{% endif -%}
{% if haproxy_defaults.log is defined %}
{% for log in haproxy_defaults.log %}
    log {{ log.address }} {{ log.facility }}{% if log.level is defined %} {{log.level }}{% endif %}{% if log.minlevel is defined %} {{ log.minlevel }}{% endif %}

{% if log.format is defined %}
    log-format {{ log.format }}
{% endif %}

{% endfor %}
{% endif %}
{% if haproxy_defaults.retries is defined %}
    retries {{ haproxy_defaults.retries }}
{% endif -%}
{% if haproxy_defaults.timeout is defined %}
{% for condition in haproxy_defaults.timeout %}
    timeout {{ condition.param }} {{ condition.value }}
{% endfor %}
{% endif -%}
{% if haproxy_defaults.maxconn is defined %}
    maxconn {{ haproxy_defaults.maxconn }}
{% endif -%}
{% if haproxy_defaults.stats is defined %}
{% if haproxy_defaults.stats.enabled is defined and haproxy_defaults.stats.enabled == True %}
    stats enable
{% endif -%}
{% if haproxy_defaults.stats.hide_version is defined and haproxy_defaults.stats.hide_version == true %}
    stats hide-version
{% endif -%}
{% if haproxy_defaults.stats.uri is defined %}
    stats uri {{ haproxy_defaults.stats.uri }}
{% endif -%}
{% if haproxy_defaults.stats.realm is defined %}
    stats realm {{ haproxy_defaults.stats.realm }}
{% endif -%}
{% if haproxy_defaults.stats.auth is defined %}
    stats auth {{ haproxy_defaults.stats.auth }}
{% endif -%}
{% if haproxy_defaults.stats.refresh is defined %}
    stats refresh {{ haproxy_defaults.stats.refresh }}
{% endif -%}
{% endif %}
{% if haproxy_defaults.options is defined %}
{% for option in haproxy_defaults.options %}
    option {{ option }}
{% endfor -%}
{% endif -%}
{% if ansible_distribution != 'CentOS' %}
{% if haproxy_defaults.errorfile is defined %}
{% for item in haproxy_defaults.errorfile %}
    errorfile {{ item.code }} {{ item.file }}
{% endfor %}
{% endif -%}
{% endif -%}
{% if haproxy_defaults.balance is defined %}
    balance {{ haproxy_defaults.balance }}
{% endif -%}

{% if haproxy_defaults.compression is defined %}
{% if haproxy_defaults.compression.algo is defined %}
    compression algo {{ haproxy_defaults.compression.algo }}
{% endif -%}
{% if haproxy_defaults.compression.type is defined %}
    compression type {{ haproxy_defaults.compression.type }}
{% endif -%}
{% if haproxy_defaults.compression.offload is defined and haproxy_defaults.compression.offload == true %}
    compression offload
{% endif -%}
{% endif -%}

{% if haproxy_defaults.http_check is defined %}
{% if haproxy_defaults.http_check.disable_on_404 is defined and haproxy_defaults.http_check.disable_on_404 == true %}
    http-check disable-on-404
{% endif -%}
{% if haproxy_defaults.http_check.expect is defined %}
    http-check expect {{ haproxy_defaults.http_check.expect }}
{% endif -%}
{% if haproxy_defaults.http_check.send_state is defined and haproxy_defaults.http_check.send_state == true %}
    http-check send-state
{% endif -%}
{% endif -%}
{% endif %}

{% if haproxy_frontends is defined %}
{% for item in haproxy_frontends %}
frontend {{ item.name }} {%if item.ip is defined %}{{ item.ip }}{% endif %}{%if item.port is defined %}:{{ item.port }}{% endif %}

{% if item.bind is defined -%}
{%- for bind in item.bind -%}
    bind {{ bind }}{% if item.ssl is defined %}{% if item.ssl.cert is defined %} ssl crt {{ item.ssl.cert }}{% if item.ssl.ciphers is defined %} ciphers {{ item.ssl.ciphers }}{% endif %}{% endif %}{% endif %}

{% endfor -%}
{% endif -%}

{% if item.mode is defined %}
    mode {{ item.mode }}
{% endif -%}

{% if item.maxconn is defined %}
    maxconn {{ item.maxconn }}
{% endif -%}

{%- if item.monitor is defined -%}
{% if item.monitor.uri is defined -%}
    monitor-uri {{ item.monitor.uri }}
{% endif %}
{%- if item.monitor.fail is defined -%}
{%- for condition in item.monitor.fail -%}
    monitor fail {{ condition }}
{% endfor %}
{% endif %}
{% endif -%}

{%- if item.acl is defined -%}
{%- for acl in item.acl -%}
    acl {{ acl.name }} {{ acl.condition }}
{% endfor %}
{% endif -%}

{%- if item.reqadd is defined -%}
{%- for reqadd in item.reqadd -%}
    reqadd {{ reqadd }}
{% endfor %}
{% endif -%}

{%- if item.rate_limit_sessions is defined -%}
    rate-limit sessions {{ item.rate_limit_sessions }}
{% endif %}

{%- if item.block is defined -%}
{%- for block in item.block -%}
    block {{ block }}
{% endfor -%}
{% endif -%}

{% if item.options is defined %}
{% for option in item.options %}
    option {{ option }}
{% endfor %}
{% endif -%}

{%- if item.redirects is defined -%}
{%- for redirect in item.redirects -%}
    redirect {{ redirect }}
{% endfor -%}
{% endif -%}

{%- if item.http_request is defined -%}
{%- for request in item.http_request -%}
    http-request {{ request.action }}{% if request.param is defined %} {{ request.param }}{% endif %}{% if request.condition is defined %} {{ request.condition }}{% endif %}

{% endfor -%}
{% endif -%}

{%- if item.tcp_request is defined -%}
{%- for request in item.tcp_request -%}
    tcp-request {{ request.param }} {{ request.value }}{% if request.condition is defined %} {{ request.condition }}{% endif %}
{% endfor -%}
{% endif -%}

{% if item.http_request is defined %}
{%- for request in item.http_request -%}
    http-request {{ request.action }}{% if request.param is defined %} {{ request.param }}{% endif %}{% if request.condition is defined %} {{ request.condition }}{% endif %}

{% endfor -%}
{% endif -%}

{%- if item.default_backend is defined %}
    default_backend {{ item.default_backend }}
{% endif -%}

{%- if item.use_backend is defined -%}
{% for backend in item.use_backend %}
    use_backend {{ backend.name }} {{ backend.condition }}
{% endfor %}
{% endif -%}
{% endfor %}
{% endif %}

{% if haproxy_backends is defined %}
{% for item in haproxy_backends %}
backend {{ item.name }}
{% if item.disabled is defined and item.disabled == true %}
    disabled
{% endif -%}
{% if item.description is defined %}
    description {{ item.description }}
{% endif -%}
{% if item.servers is defined %}
{% for server in item.servers %}
    server {{ server.name }} {{ server.ip }}{% if server.port is defined %}:{{server.port }}{% endif %} {% if server.maxconn is defined %}maxconn {{server.maxconn }} {% endif %}{% if server.params is defined %}{% for param in server.params %}{{ param }} {% endfor %}{% endif %}

{% endfor %}
{% endif %}
{% if item.balance is defined %}
    balance {{ item.balance }}
{% endif -%}
{% if item.mode is defined %}
    mode {{ item.mode }}
{% endif -%}
{% if item.log is defined %}
    log {{ item.log }}
{% endif -%}
{% if item.retries is defined %}
    retries {{ item.retries }}
{% endif -%}
{% if item.redirects is defined %}
    {% for redirect in item.redirects -%}
    redirect {{ redirect }}
    {% endfor %}
{% endif -%}
{% if item.contimeout is defined %}
    contimeout {{ item.contimeout }}
{% endif -%}
{% if item.http_send_name_header is defined %}
    http-send-name-header {{ item.http_send_name_header }}
{% endif -%}
{% if item.http_check_expect is defined %}
{% for check_expect in item.http_check_expect %}
    http-check expect {{ check_expect }}
{% endfor %}
{% endif -%}
{% if item.http_request is defined %}
{%- for request in item.http_request -%}
    http-request {{ request.action }}{% if request.param is defined %} {{ request.param }}{% endif %}{% if request.condition is defined %} {{ request.condition }}{% endif %}

{% endfor -%}
{% endif -%}
{% if item.options is defined %}
{% for option in item.options %}
    option {{ option }}
{% endfor %}
{% endif -%}
{% endfor %}
{% endif %}

{% if haproxy_listen is defined %}
{% for item in haproxy_listen %}
listen {{ item.name }}
{% if item.bind is defined %}
{% for binding in item.bind %}
   bind {{ binding }}{% if item.ssl is defined %}{% if item.ssl.cert is defined %} ssl crt {{ item.ssl.cert }}{% if item.ssl.ciphers is defined %} ciphers {{ item.ssl.ciphers }}{% endif %}{% endif %}{% endif %}

{% endfor %}
{% endif -%}
{% if item.disabled is defined and item.disabled == true %}
    disabled
{% endif -%}
{% if item.description is defined %}
    description {{ item.description }}
{% endif -%}
{% if item.servers is defined %}
{% for server in item.servers %}
    server {{ server.name }} {{ server.ip }}{% if server.port is defined %}:{{server.port }}{% endif %} {% if server.maxconn is defined %}maxconn {{server.maxconn }} {% endif %}{% if server.params is defined %}{% for param in server.params %}{{ param }} {% endfor %}{% endif %}

{% endfor %}
{% endif %}
{% if item.balance is defined %}
    balance {{ item.balance }}
{% endif -%}
{% if item.log is defined %}
    log {{ item.log }}
{% endif -%}
{% if item.retries is defined %}
    retries {{ item.retries }}
{% endif -%}
{% if item.contimeout is defined %}
    contimeout {{ item.contimeout }}
{% endif -%}
{% if item.http_send_name_header is defined %}
    http-send-name-header {{ item.http_send_name_header }}
{% endif -%}
{% if item.http_check_except is defined %}
{% for check_except in item.http_check_except %}
    http-check except {{ check_except }}
{% endfor %}
{% endif -%}
{% if item.options is defined %}
{% for option in item.options %}
    option {{ option }}
{% endfor %}
{% endif -%}
{% endfor %}
{% endif %}

{% if haproxy_userlists is defined %}
{% for item in haproxy_userlists %}
userlist {{ item.name }}
{% if item.groups is defined %}
{% for group in item.groups %}
    group {{ group.name }} {% if group.users is defined %} users {{ ','.join(group.users) }}{% endif %}

{% endfor %}
{% endif %}
{% if item.users is defined %}
{% for user in item.users %}
    user {{ user.name }} {{ user.password }}{% if user.groups is defined %} groups {{ ','.join(user.groups) }}{% endif %}

{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
