#! /bin/bash
# Set the ldapReadThroughEnabled key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{inventory_hostname}}/mxos/ldapReadThroughEnabled"="true"'

# Set the ldapReplicationAgreement key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/*/imdircacheserv/ldapReplicationAgreement"="cn: defaultReplicationAgreement\nupdateInterval: 600\nupdateintervalasmillisecs: 0"'

# Set the messageStoreHost key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{inventory_hostname}}/mxos/messageStoreHosts"="{{mss_hostname}}"'

# Set the addressBookStoreHosts key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{inventory_hostname}}/mxos/addressBookStoreHosts"="{{pab_hostname}}"'

# Set the calendarStoreHosts key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{inventory_hostname}}/mxos/calendarStoreHosts"="{{cal_hostname}}"'

# Set the defaultFolderList key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/*/mss/defaultFolderList"="SentMail\nDrafts\nSpam\nTrash"'

{% if inventory_hostname in groups[node_site + '-dirserv'] and hostvars[inventory_hostname]['primary'] is defined %}
# As PAB & CAL couldn't find the mOS due to which PAB & CAL stays in ADMIN mode.
# With this key, it informs PAB & CAL where mOS is and, it PAB & CAL switched
# mode from ADMIN to NORMAL.
{% for site in sites %}
{% set mOSGroupName = site+'-queue' %}
{% if groups[mOSGroupName] is defined %}
{% for host in groups[mOSGroupName] %}
{% set mOSHostName = host %}
{% set mOSHostClusterId = hostvars[host]['clusterId'] %}
{% set pabcalGroupName = site+'-pabcal' %}
{% if groups[pabcalGroupName] is defined %}
{% for host in groups[pabcalGroupName] %}
{% set pabcalHostName = host %}
{% set pabcalHostClusterId = hostvars[host]['clusterId'] %}
{% if mOSHostClusterId == pabcalHostClusterId %}
#runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{pabcalHostName}}/common/mxOsServiceHost"="notifyservice {{mOSHostName}}:8081\nmailboxservice {{mOSHostName}}:8081\nsendsmsservice {{mOSHostName}}:8081\nsendmailservice {{mOSHostName}}:8081\ndefault {{mOSHostName}}:8081"'
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

# Set the userDataContext key in config.db
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/*/common/userDataContext"="1"'
#{% if inventory_hostname in groups[node_site + '-directory'] %}
# Set dirCacheHosts config key for Directory hosts mOS
runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{ inventory_hostname }}/common/dirCacheHosts"="{{ dircache_hosts }}"'
#{% endif %}
#{% if inventory_hostname in groups[node_site + '-queue'] %}
# Set dirCacheHosts config key for Queue hosts
#runuser -l {{emailmx_user[0].username}} -g {{emailmx_user[0].username}} -c 'imconfcontrol -install -key "/{{ inventory_hostname }}/common/dirCacheHosts"="{{ dircache_hosts }}"'
#{% endif %}

